body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282d35;
}

main {
  color: white;
  padding: 57px 27px;
  background-image: url(./images/logo.svg);
  background-repeat: no-repeat;
  background-position: right 75%;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text, .nav--title {
  margin: 0;
}

.nav--logo_text {
  /* Make everything next to h3 pushed to the right */
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #DEEBE8;
  font-weight: 600;
}
.nav--icon {
  height: 30px;
  margin-right: 7px;
}